{% extends "app/base.html" %}
{% load static %}
{% block content %}
    <!-- db-table -->
    <table id="db-table" class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Subcategory</th>
                <th scope="col">Citation</th>
            </tr>
        </thead>
        <tbody>
            {% for db in databases %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href="{{ db.url }}" target="_blank" rel="noopener noreferrer" class="card-link">{{db.name}}</a></td>
                    <td>{{db.description}}</td>
                    <td>{{db.category.name}}</td>
                    <td>{{db.sub_category|default:"-"}}</td>
                    <td>{{db.citation|default:"uncited"}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ categories|json_script:'categories' }}

    <script type="text/javascript">
        const categories = JSON.parse(document.getElementById('categories').textContent);
        const urlParams = new URLSearchParams(window.location.search);
        const selectedCategory = urlParams.get('category', null) ? urlParams.get('category', null) : categories[0];
        $(document).ready(function () {
            $('#db-table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'collection',
                        text: selectedCategory,
                        buttons: categories.map(c => ({
                            text: c,
                            action: () => window.location.href=`?category=${c}`,
                        })),
                    },
                    {
                        text: 'Suggest New',
                        action: () => window.location.replace("suggest/"),
                    },
                ]
            });
        });
    </script>
{% endblock %}
