{% extends "app/base.html" %}
{% block content %}
    <div class="row">
        {% for db in databases %}
            <div class="col mt-5 mr-3 d-flex align-items-stretch">
                <div class="card bg-light" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ db.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ db.citation|default:"uncited" }}</h6>
                        <p class="card-text">{{ db.description }}</p>
                        <a href="{{ db.url }}" target="_blank" rel="noopener noreferrer" class="card-link">Visit</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <li>No databases yet.</li>
        {% endfor %}
    </div>
{% endblock %}
