DEBUG = True
SERVER = True

SECRET_KEY = ""

DATABASE_NAME = ""
DATABASE_USER = ""
DATABASE_PASS = ""
DATABASE_HOST = ""

AZURE_COMMUNICATION_SERVICE_CONNECTION_STRING = ""
AZURE_COMMUNICATION_SERVICE_SENDER_ADDRESS = ""
